@charset "UTF-8";


  .main {
    padding-top:135px;
    padding-bottom:250px;
    padding-left:300px;
    padding-right:300px;
  }
  
  .readTop {
    padding-top:30px;
  }
  
  .readBrand {
    color:#AE905E;
    font-size:25px;
  }
  
  .readProName {
    color:#333;
    font-size:35px;
    font-weight:bold ;
  }
  
  .readInfo {
    color:#a0a0a0;
  }
  
  .readImg {
    width:500px;
    height:400px;
    float:left;
    padding-right: 100px;
  }
  
  .freeDel {
    font-size:10px;
    border:1px solid #a0a0a0;
  }
  
  .readListName {
    color:#6e6e6e;
    text-decoration:none;
  }
  
  .readPrice {
    font-size:25px;
    font-weight:bold;
  }
  
  .readTop>hr {
    border:solid 1.5px #6e6e6e;
  }
  
  .readCenter hr {
    margin-left:448px;
  }
  
  .eventMessage {
    color:#32B8FF;
  }
  
  .goImag {
   
  }
  
  .goBasket {
    float: right;
    padding-left:14px;
  }
  
  .goBuy {
    float:right;
  }